*{
	margin: 0;
	padding: 0;
}
.clear{
	clear: both;
}
body{
	background: #333333;
}
li{
	list-style: none;
	float: left;
}
.play{
	margin: 50px auto;
	width: 640px;
	background: #CCCCCC;
	border: 10px solid #AAAAAA;
}
.play .big_pic{
	width: 640px;
	height: 360px;
	overflow: hidden;
	position: relative;
}
.play .big_pic .prev{
	width: 80px;
	position: absolute;
	left: 0px;
	top: 50%;
	margin-top: -40px;
	opacity: 0;
	filter: alpha(opacity:0);
	z-index: 3001;
}
.play .big_pic .next{
	width: 80px;
	position: absolute;
	right: 0px;
	top: 50%;
	margin-top: -40px;
	opacity: 0;
	filter: alpha(opacity:0);
	z-index: 3001;
}
.play .big_pic li {
	position: absolute;
	float: left;
	top: 0px;
	left: 0px;
	overflow: hidden;
}
.play .big_pic li img{
	width: 640px;
	height: 360px;
}
.play .big_pic .mark_left{
	position: absolute;
	top: 0;
	left: 0;
	width: 320px;
	height: 360px;
	opacity: 0;
	filter: alpha(opacity:0);
	z-index: 3000;
}
.play .big_pic .mark_right{
	position: absolute;
	top: 0;
	right: 0;
	width: 320px;
	height: 360px;
	opacity: 0;
	filter: alpha(opacity:0);
	z-index: 3000;
}
.play .big_pic .txt{
	width: 640px;
	height: 25px;
	position: absolute;
	bottom: 0px;
	background: black;
	opacity: 0.5;
	color: white;
	text-indent: 1em;
	font-size: 15px;
	line-height: 25px;
	z-index: 3003;
}
.play .big_pic .txt span{
	position: absolute;
	bottom: 0;
	right: 20px;
	float: right;
	z-index: 3000;
}
.play .small_pic{
	height: 112px;
	overflow: hidden;
	position: relative;
}
.play .small_pic ul{
	position: absolute;
	left: 0;
}
.play .small_pic li img{
	width: 200px;
	height: 112px;
	margin: 10px 0px 10px 10px;
	filter: alpha(opacity:0.6);
	opacity: 60;
}